.app-inline-minimal-item {
  display: inline-flex;
  column-gap: 3px;

  .app-item-icon img {
    height: 1.4em;
    width: auto;
    display: inline-block;
    vertical-align: text-bottom;
    margin: -2px 2px -2px 0;
  }
}

