@import "mixins";

.app-module-sidebar {
  @apply block backdrop-blur-xl py-2;
  background-color: rgba(0, 0, 0, .75);

  @include safe-area(padding-right, 8px, right);
  @include safe-area(padding-left, 8px, left);

  padding-right: max(8px, env(safe-area-inset-right));

  .hide-menu .app-module-sidebar-list-item:not(.active):not(.custom-active) {
    display: none;
  }
}

@screen 2xl {
  .app-module-sidebar {
    padding: 60px 40px 60px 60px;
  }
}

.app-module-sidebar-list-item {
  padding: 15px;
  border-radius: 30px;
  height: 46px;
  border: 3px solid #191919;
  @apply text-lg font-semibold flex justify-center text-neutral-500 hover:text-neutral-300 border-neutral-500 hover:border-neutral-300 items-center gap-x-2;

  &:hover .app-ui-icon {
    color: #645a54
  }

  .app-ui-icon {
    color: #3F3834;


  }

  &.active, &.custom-active {
    @apply bg-white text-black border-white;

    .app-ui-icon {
      color: #E4B07E;
    }

  }

  &:not(.active):not(.custom-active) button {
    display: none
  }

  @screen xl {
    display: flex !important;
    & {
      height: 80px;;
    }
  }

}
