
.btn {
  @apply px-4 py-2 text-white;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  border-radius: 15px;

  .mdc-text-field {
    padding: 0;
    align-items: center;
  }
}

.btn-secondary {
  color: #000;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.3);
}

