.mat-mdc-form-field .mat-mdc-form-field-infix{
  width: var(--mat-form-field-infix-width, 180px);
}

.semi-transparent-form-field {
  --mat-form-field-container-height: 100%;

  .mdc-text-field--filled .mdc-floating-label--float-above {
    transform: translateY(-150%) scale(0.85);
  }

  .mdc-text-field {
    overflow: unset;
    padding: 0;
  }

  .mat-mdc-form-field-flex {
    @apply px-4 py-2 text-white;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-weight: 600;
    border-radius: 15px;
  }

  .mdc-floating-label mat-label {
    background: #f7f2e800;
    transition: all 150ms linear;
  }

  .mdc-floating-label--float-above mat-label {
    background: #f7f2e8;
    padding: 0 4px;
    color: #000;
    border-radius: 3px;
    display: block;
  }

  &.mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
    transform: unset;
  }
}











