.icon-grid {
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

@screen xl {
  .icon-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

.icon-grid-item {
  background: rgba(255, 255, 255, .3);
  border-radius: 15px;
  padding: 10%;

  img {
    width: 100px;
  }

  transition: background-color .2s;

  &:hover {
    background: rgba(255, 255, 255, .6);
  }


}