.mat-mdc-select-panel {
  @apply px-4 py-2 text-white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;

  /* force material override without specificity */
  border-radius: 15px !important;
  color: rgba(255 255 255 / 0.75);
  @apply backdrop-blur-xl;
  --mat-select-panel-background-color: rgba(0, 0, 0, 0.6);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
