.mat-mdc-select-panel {
  @apply px-4 py-2 text-white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;

  /* force material override without specificity */
  border-radius: 15px !important;
  color: #000;
  @apply backdrop-blur-xl;
  background: rgba(255, 255, 255, 0.8);
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
