.mat-mdc-tab-group {
  width: 100%;
  max-width: calc(100vw - (env(safe-area-inset-right) + env(safe-area-inset-right))) !important;


  .mat-mdc-tab-labels {
    @apply gap-x-3 justify-center;
  }

  .mdc-tab {
    opacity: 1 !important;
    background: rgba(255, 255, 255, .3);
    border: 3px solid rgba(255, 255, 255, .3);
    @apply font-semibold text-white;
    border-radius: 15px;
  }

  .mdc-tab--active {
    @apply bg-white text-black border-white
  }

  .mdc-tab__content {
    height: unset;
  }

  .mdc-tab-indicator .mdc-tab-indicator__content--underline {
    display: none;
  }

  .mat-mdc-tab-header {
    @apply mb-3;

    .mat-mdc-tab-header-pagination-chevron {
      --mat-tab-header-pagination-icon-color: #fff;
      border-width: 5px 5px 0 0;
      height: 13px;
      width: 13px;
    }
  }

}

.mat-mdc-tab-header-pagination-disabled .mat-mdc-tab-header-pagination-chevron {
  opacity: .3;
}
