.mat-tab-group {
  width: 100%;
}

.mat-tab-labels {
  @apply gap-x-3 justify-center mb-3;
}

.mat-tab-label {
  opacity: 1 !important;
  background: rgba(255, 255, 255, .3);
  border: 3px solid rgba(255, 255, 255, .3);
  @apply font-semibold text-white;
  border-radius: 15px;
}

.mat-tab-label-active {
  @apply bg-white text-black border-white
}
