#horizontal-grid-lines, #vertical-grid-lines {
  border: 1px solid black;
  pointer-events: none;
  z-index: 2;
}

#vertical-grid-lines {
  border-top: none;
  border-bottom: none;
}

#horizontal-grid-lines {
  border-left: none;
  border-right: none;

}

.planner-grid-item {
  border: 1px solid rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.layers {
  position: absolute;

  .placed-grid-item {
    display: flex;
    position: absolute;
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, .7);
  }
}

#selectedItem {
  position: absolute;
  z-index: 1;

  .app-item-icon {
    display: flex;
  }
}

table, th, td {
  border: none;
}

.grid-overlay {
  border-right: 1px solid rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(0, 0, 0, .3);

  td {
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .3);
  }
}
