.app-responsive-table {
  display: block;
  table-layout: fixed;
  overflow: auto;
  max-height: 100vh;
  @apply text-black;
  background: #f7f2e8;
  border-radius: 5px;

  @media (pointer: coarse) {
    & {
      max-width: calc(100% - 24px);
    }
  }

  table {
    @apply w-full;
  }


  tr:nth-child(odd) td {
    background: #fcfbf8;
  }

  tr:nth-child(even) td {
    background: #f7f2e8;
  }

  .app-item-icon {
    width: 40px;
  }

  th {
    background: #f7f2e8 !important;
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-right: 16px;
  }

  .icon-col, .text-col, .list-col {
    vertical-align: top;
  }

  .icon-col {
    padding-top: 6px;
  }

  .text-col {
    padding-top: 14px;
  }

  .list-col {
    padding-top: 12px;
  }

}

@screen sm {
  .app-responsive-table {
    max-height: unset;
  }
}
@screen lg {
  .app-responsive-table {
    margin-left: 0;
    max-width: 100%;
  }
}
