.app-header {
  @apply block backdrop-blur-xl px-safe pt-safe;
  background-color: rgba(0, 0, 0, .75);


  &.open-menu {
    z-index: 1001; // over mobile menu overlay
  }


  .active .app-ui-icon {
    @apply text-accent
  }
}

.mobile-menu-panel {
  @apply block backdrop-blur-xl px-safe;
  background-color: rgba(0, 0, 0, .75);
  left: 0 !important;
  right: 0 !important;

  .active .app-ui-icon {
    @apply text-accent
  }
}

.beta-badge {
  background-color: #8a7c67;
  padding: 3px;
  font-size: 80%;
  transform: translateX(60%);
  top: 5px;
  pointer-events: none;
}
