.bestiary-image {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  margin: -20px -20px .5rem;

  @screen xl {
    & {
      margin: -36px -36px .5rem;
    }
  }
}
