.database-details {
  .empty-details {
    display: none;
  }

  &:not(:has(.database-header)) .empty-details {
    display: block;
  }

  .expandable-body {
    transition: none;
  }
}

.quality-grid .app-item-icon > img {
  @apply h-14;
}

.database-header {
  color: #000;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.2em;
  line-height: 1.6;
}
