.database-details {
  .empty-details {
    display: none;
  }

  &:not(:has(.database-header)) .empty-details {
    display: block;
  }
}

.database-header {
  color: #000;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: .6em;
  line-height: 1.6;
}
