.app-card {
  background-color: #f7f2e8;
  border-radius: var(--cg-card-radius);
  padding: var(--cg-card-padding);
  display: flex;
  flex-direction: column;

  [cardIcon] {
    height: var(--cg-card-icon-height);
    @apply flex justify-center mx-auto;


    & > img {
      height: var(--cg-card-icon-height);
      width: auto;
    }
  }


  @screen xl {
    & {
      --cg-card-padding: 36px;
      --cg-card-icon-height: 180px;
    }
  }

}
