.app-card {
  background-color: #f7f2e8;
  border-radius: var(--cg-card-radius);
  padding: var(--cg-card-padding);
  display: flex;
  flex-direction: column;

  [cardIcon] {
    height: 140px;
    @apply flex justify-center mx-auto;


    & > img {
      height: 140px;
      width: auto;
    }
  }


  @screen xl {

    & {

      --cg-card-padding: 36px;

      [cardIcon] {
        height: 220px;

        & > img {
          height: 220px;
        }
      }
    }
  }

}
