@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/tabs";
@import "styles/grid";

@font-face {
  font-family: 'QTVagaRound';
  src: url('assets/fonts/QTVagaRound-Bold.woff2') format('woff2'),
  url('assets/fonts/QTVagaRound-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QTVagaRound';
  src: url('assets/fonts/QTVagaRound.woff2') format('woff2'),
  url('assets/fonts/QTVagaRound.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


html {
  @apply w-full h-full;
}

body {
  color: #8a7c67;
  font-family: 'QTVagaRound', sans-serif;
  @apply backdrop-blur-xl min-h-full;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) fixed,
  url('assets/bg.jpg') center no-repeat fixed;
  background-size: cover, cover;
}

.mat-ripple-element {
  display: none !important;
}

hr {
  border: none;
  height: 4px;
  border-radius: 2px;
  background: rgba(127, 127, 127, .1);
}


.drawer-close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}

@screen xl {

  .mat-drawer-container {
    height: 100%;
  }

  .mat-drawer-inner-container {
    padding: 60px 30px;
  }

  .drawer-close-button {
    right: 45px;
    top: 75px;

  }
}
