@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/tabs";
@import "styles/grid";
@import "styles/mixins";
@import "styles/buttons";
@import "styles/mat-select";
@import "@angular/cdk/overlay-prebuilt.css";

@include mat.core();

$white-palette: (
        50: #fff,
        100: #fff,
        200: #fff,
        300: #fff,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #fff,
        A200: #fff,
        A400: #fff,
        A700: #fff,
        contrast: (
                50: #000,
                100: #000,
                200: #000,
                300: #000,
                400: #000,
                500: #000,
                600: #000,
                700: #000,
                800: #000,
                900: #000,
                A100: #000,
                A200: #000,
                A400: #000,
                A700: #000,
        )
);

$my-primary: mat.define-palette($white-palette, 500);

$my-theme: mat.define-light-theme((
        color: (
                primary: $my-primary,
                accent: $my-primary,
        )
));


@include mat.progress-spinner-color($my-theme);

@font-face {
  font-family: 'QTVagaRound';
  src: url('assets/fonts/QTVagaRound-Bold.woff2') format('woff2'),
  url('assets/fonts/QTVagaRound-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QTVagaRound';
  src: url('assets/fonts/QTVagaRound.woff2') format('woff2'),
  url('assets/fonts/QTVagaRound.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


html {
  @apply w-full h-full;
}

body {
  color: #8a7c67;
  font-family: 'QTVagaRound', sans-serif;
  @apply min-h-full;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) fixed,
  url('assets/bg.jpg') center no-repeat fixed;
  background-size: cover, cover;
}

.mdc-line-ripple {
  display: none;
}

.mdc-tooltip__surface {
  --mdc-plain-tooltip-supporting-text-size: 1.25rem;
}

table .mdc-data-table__header-row {
  height: 48px;
}

hr {
  border: none;
  height: 4px;
  border-radius: 2px;
  background: rgba(127, 127, 127, .1);
}


.drawer-close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}

@layer components {
  .btn-amber {
    @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm font-medium rounded-md text-white bg-amber-700 hover:bg-amber-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-700;
  }
}

@screen xl {

  .mat-drawer-container {
    height: 100%;
  }

  .mat-drawer-inner-container {
    padding: 60px 30px;
  }

  .drawer-close-button {
    right: 45px;
    top: 75px;

  }
}

.planner-map-standard-farm {
  background: url('assets/planner/maps/planner-map-standard-farm.png') no-repeat;
  background-size: cover;
}
