@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/material-theme";

@import "styles/tabs";
@import "styles/grid";
@import "styles/mixins";
@import "styles/buttons";
@import "styles/mat-select";
@import "@angular/cdk/overlay-prebuilt.css";


@font-face {
  font-family: 'QTVagaRound';
  src: url('assets/fonts/QTVagaRound-Bold.woff2') format('woff2'),
  url('assets/fonts/QTVagaRound-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QTVagaRound';
  src: url('assets/fonts/QTVagaRound.woff2') format('woff2'),
  url('assets/fonts/QTVagaRound.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root {
  --cg-icon-grid-min-size: 55px;
}

html {
  @apply w-full h-full;
}

body {
  color: #5a4627;
  font-family: 'QTVagaRound', sans-serif;
  @apply min-h-full;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) fixed,
  url('assets/bg.jpg') center no-repeat fixed;
  background-size: cover, cover;
}

.mdc-line-ripple {
  display: none;
}

.mdc-tooltip__surface {
  --mdc-plain-tooltip-container-color: #f7f2e8;
  --mdc-plain-tooltip-supporting-text-size: 1.25rem;
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 20%);
}

table .mdc-data-table__header-row {
  height: 48px;
}

hr {
  border: none;
  height: 4px;
  border-radius: 2px;
  background: rgba(127, 127, 127, .1);
}


.drawer-close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}

.mat-sidenav.mat-drawer {
  box-shadow: none
}

@layer components {
  .btn-amber {
    @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm font-medium rounded-md text-white bg-amber-700 hover:bg-amber-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-700;
  }
}

@screen xl {

  .mat-drawer-container {
    height: 100%;
  }

  .mat-drawer-inner-container {
    padding: 60px 30px;
  }

  .drawer-close-button {
    right: 45px;
    top: 75px;

  }
}

td.mdc-data-table__cell {
  overflow: unset;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &.right {
    transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
  }
}

.mat-mdc-option .mdc-list-item__primary-text {
  flex-grow: 1;
}
